.guide {
    margin-top: 165px;
}

.guide__content {
    display: grid;
    grid-template-columns: 815px auto;
    grid-template-rows: 375px auto;
    grid-row-gap: 90px;
    justify-content: space-between;
}


.guide__headline {
    grid-area: 1 / 1 / 2 / 2;
}

.guide__headline>p {
    font-weight: bold;
}

.guide__pdf {
    grid-area: 2 / 1 / 3 / 2;
}

.guide__img {
    grid-area: 1 / 2 / 3 / 3;
    position: relative;
    display: flex;
    justify-content: end;
}

.guide__content>div>h2 {
    max-width: 625px;
}

.guide__content>div>p {
    padding-right: 120px;
    margin: 40px 0 0 0;
}

.guide__form {
    display: flex;
    width: 820px;
    justify-content: space-between;
    align-items: end;
    margin-top: 35px;
}

.guide__form>div {
    display: flex;
    flex-direction: column;

}

.guide__form>div>input {
    width: 420px;
}

.guide__form>div>label {
    color: var(--color-label);
}

.guide__form>button {
    width: 355px;
}

.guide__wrap {
    position: absolute;
    top: 330px;
    left: 145px;
    color: var(--color-white);
}

.guide__wrap-img {
    position: relative;

}

.guide__wrap-img>img {
    height: 100%;
}

.guide__top {
    font-size: 100px;
    font-weight: 300;
    margin: 40px 0 15px 0;
}



@media screen and (max-width:1700px) {

    .guide__content {
        display: grid;
        grid-template-columns: 692px auto;
        grid-template-rows: 320px auto;
        grid-row-gap: 77px;
        justify-content: space-between;
    }

    .guide {
        margin-top: 120px;

    }

    .guide__img {
        margin-top: 140px;
        justify-content: flex-start;
    }

    .guide__img>div>img {
        max-width: 490px;
    }

    .guide__content>div>h2 {
        max-width: 703px;
    }

    .guide__form {
        width: 580px;
    }

    .guide__form>div>input {
        width: 290px;
    }

    .guide__form>button {
        width: 260px;
    }

    .guide__wrap {
        top: 155px;
        left: 100px;
    }

    .guide__wrap-img {
        height: 565px;
        overflow: hidden;
    }


    .guide__top {
        font-size: 70px;
        margin: 70px 0 10px 0;
    }

    .guide__top>p {
        padding-right: 157px;
        margin: 32px 0 0 0;
    }

}

@media screen and (max-width:1300px) {
    .guide {
        margin-top: 133px;
    }

    .guide__content {
        grid-template-columns: 290px 392px;
        grid-template-rows: auto;
        row-gap: 85px;
    }

    .guide__headline {
        grid-area: 1 / 1 / 2 / 3;
    }

    .guide__pdf {
        grid-area: 2 / 1 / 3 / 2;
    }

    .guide__content>div>p {
        padding-right: 80px;
        margin: 25px 0 0 0;
    }

    .guide__wrap-img {
        height: 410px;
    }

    .guide__img {
        grid-area: 2 / 2 / 3 / 3;
        flex-direction: column;
        width: 100%;
    }

    .guide__wrap-img>img {
        height: auto;
    }

    .guide__form {
        width: 100%;
        flex-direction: column;
    }

    .guide__form>div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .guide__form>div>input {
        width: 100%;
    }

    .guide__form>button {
        width: 100%;
        margin-top: 20px;
    }

    .guide__img>div>img {
        max-width: 100%;
    }

    .guide__img {
        margin-top: 0;
        justify-content: flex-end
    }

    .guide__wrap {
        top: 75px;
        left: 71px;
    }

    .guide__top {
        margin: 27px 0 15px 0;
    }

    .guide__wrap>span {
        font-size: 24px;
    }
}

@media screen and (max-width:768px) {
    .guide {
        margin-top: 60px;
    }

    .guide__content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 20px;
        column-gap: 20px;
    }

    .guide__img>div>img {
        width: 300px;
        margin: 0 auto;
    }


    .guide__top {
        margin: 22px 0 5px 0;
        font-size: 56px;
    }

    .guide__wrap {
        top: 60px;
        left: 55px;
    }

    .guide__wrap-img {
        height: 310px;
    }

    .guide__wrap>div>img {
        width: 55px;
    }

    .guide__wrap>span {
        font-size: 18px !important;
        line-height: 1.5;
    }

    .guide__headline {
        grid-area: 1 / 1 / 2 / 3;
    }

    .guide__pdf {
        grid-area: 3 / 1 / 4 / 2;
    }

    .guide__img {
        grid-area: 2 / 1 / 3 / 2;
        width: 300px;
        margin: 0 auto;
    }

    .guide__form>div>input {
        height: 60px;
    }

    .guide__form>button {
        height: 60px;
    }

    .guide__form {
        margin-top: 20px;
    }
}