@import "./main.css";
@import "./header.css";
@import "./studios.css";
@import "./sound.css";
@import "./swiper.css";
@import "./system.css";
@import "./specifications.css";
@import "./comments.css";
@import "./guest.css";
@import "./warrantye.css";
@import "./guide.css";
@import "./application.css";
@import "./footer.css";
@import "./normalize.css";

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: bold;
}


body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  background: white;
  font-family: "Roboto", "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}


:root {
  --color-blue: #2aabee;
  --color-blueHover: #46c0ff;
  --color-blueActive: #097cb8;
  --color-white: rgb(255, 255, 255);
  --color-table: #f2f5f9;
  --color-purple: #000043;


}


.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


.container2 {
  margin-left: calc((100% - 1530px) / 2);
  margin-right: 0;
  box-sizing: border-box;
}



.font-h1 {
  line-height: 1.2;
  text-align: left;
  font-size: 59px;
  /*
    font-size: 22px;
    -moz-transform: matrix(2.71722037219466, 0, 0, 2.71722037219466, 0, 0);
    -webkit-transform: matrix(2.71722037219466, 0, 0, 2.71722037219466, 0, 0);
    -ms-transform: matrix(2.71722037219466, 0, 0, 2.71722037219466, 0, 0);
*/
}

.font-p {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}

.font-h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
}

button {
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.btn-blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.btn-white {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  background-color: var(--color-white);
}


picture {
  display: block;
  margin: 0;
  padding: 0;
}

picture img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width:1700px) {
  .container {
    max-width: 1170px;
  }

  .container2 {
    margin-left: calc((100% - 1140px) / 2);
  }

  .font-h1 {
    font-size: 48px;
  }

  .font-p {
    font-size: 24px;
  }

  .font-p32 {
    font-size: 30px;
  }

  button {
    font-size: 18px;
  }
}



@media screen and (max-width:1300px) {
  .container {
    max-width: 805px;
  }

  .container2 {
    margin-left: calc((100% - 770px) / 2);
  }

  .font-h1 {
    font-size: 36px;
  }

  .font-p {
    font-size: 20px;
  }
}

@media screen and (max-width:1000px) {
  .container2 {
    max-width: 100%;
    margin-left: 0;
  }
}


@media screen and (max-width:425px) {
  .font-h1 {
    font-size: 23px;
  }

  .font-p {
    font-size: 16px;
  }

  .font-h4 {
    font-size: 24px;
  }
}