.system {
    margin-top: 165px;
}

.system__text {
    width: 38%;
}

.system__text>h2 {
    margin-bottom: 50px;
}

.system__text>p {
    font-size: 18px;
    line-height: 1.333;
    text-align: left;
    padding-right: 20px;
    /*  width: 553px;*/
}



.system__picture {
    position: relative;
    width: 1075px;
    top: 15px;
    right: auto;
}

/*

.system__picture>picture {
    position: absolute;
}*/

.rectangle {
    position: absolute;
    top: 90px;
    right: 265px;
    width: 510px;
    height: 800px;
    padding: 6px 0 0 20px;
    border: 15px solid var(--color-blue);
    color: var(--color-white);
    font-size: 99px;
    line-height: 1.2;
    font-weight: bold;
    background-color: transparent;
    box-sizing: border-box;
}




@media screen and (max-width:1700px) {
    .system__text {
        width: 55%;
    }

    .system__picture {
        width: 646px;
    }

    .system__picture>picture {
        top: -60px;
    }

    .rectangle {
        top: -35px;
        right: 135px;
        width: 460px;
        height: 705px;
        padding: 29px 0 0 30px;
        font-size: 80px;
    }
}

@media screen and (max-width:1400px) {
    .system__text {
        width: 49.3%;
    }

    .system__picture {
        width: 646px;
    }

    .system__text>h2 {
        margin-bottom: 40px;
    }

    .rectangle {
        top: -5px;
        right: 129px;
        width: 460px;
        height: 705px;
        padding: 29px 0 0 30px;
        font-size: 80px;
    }


}


@media screen and (max-width:1300px) {
    .system {
        margin-top: 75px;
    }

    .system__text {
        width: 43%;
    }

    .system__picture>picture {
        top: 0px;
    }

    .system__picture {
        width: 593px;
    }

    .system__text>h2 {
        margin-bottom: 38px;
    }

    .system__text>p {
        font-size: 16px;
        /* width: 440px;*/
        line-height: 1.5;
    }

    .rectangle {
        top: 50px;
        right: 84px;
        width: 460px;
        height: 593px;
        padding: 47px 0 0 35px;
        font-size: 48px;
        border: none;
        border-left: 15px solid var(--color-blue);
    }

    .rectangle::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 15px;
        background: linear-gradient(to right, var(--color-blue) 0%, #004D99 50%, transparent 100%);
    }
}

@media screen and (max-width:1250px) {

    .rectangle {
        top: 30px;
        right: 190px;
        width: 300px;
        height: 528px;
    }
}

@media screen and (max-width:1000px) {
    .system>.container2 {
        flex-direction: column;
    }

    .system__text {
        width: 100%;

    }

    .system__text>h2 {
        max-width: 805px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .system__text>p {
        padding-right: 0;
        max-width: 805px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .system__picture {
        width: 100%
    }

    .system__picture>picture {
        width: 100%;
    }

    .rectangle {
        top: 30px;
        right: 190px;
        width: 300px;
        height: 528px;
    }

    .rectangle {
        top: 90px;
        right: 265px;
        width: 90%;
        height: 800px;
        padding: 6px 0 0 20px;
        font-size: 48px;
        border: 15px solid var(--color-blue);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: left;
    }

    .rectangle::before {
        display: none;

    }
}

@media screen and (max-width:600px) {
    .rectangle {
        top: 35px;
        height: 780px;
    }
}


@media screen and (max-width:560px) {
    .rectangle {
        height: 730px;
    }
}

@media screen and (max-width:530px) {
    .rectangle {
        height: 690px;
    }
}

@media screen and (max-width:510px) {
    .rectangle {
        height: 660px;
    }
}

@media screen and (max-width:480px) {
    .rectangle {
        height: 660px;
    }
}

@media screen and (max-width:460px) {
    .rectangle {
        height: 600px;
        border: 10px solid var(--color-blue);
    }
}

@media screen and (max-width:440px) {
    .rectangle {
        height: 575px;
    }
}

@media screen and (max-width:420px) {
    .rectangle {
        height: 550px;
    }
}

@media screen and (max-width:400px) {
    .rectangle {
        height: 520px;
    }
}

@media screen and (max-width:380px) {
    .rectangle {
        top: 15px;
        height: 500px;
    }
}

@media screen and (max-width:360px) {
    .rectangle {
        height: 475px;
    }
}

@media screen and (max-width:340px) {
    .rectangle {
        height: 450px;
    }
}

@media screen and (max-width:320px) {
    .rectangle {
        height: 420px;
    }
}